@model ForgotPasswordViewModel
<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-copy">
                <h1 class="hero-title mt-0">
                    Forgot Password
                </h1>
                <form asp-action="ForgotPassword">
                    <div class="boxed-container mt-24">
                        <div class="mt-8">
                            <label asp-for="Email"></label>
                        </div>
                        <div class="mt-8">
                            <input asp-for="Email" class="input" />
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div> <div class="hero-cta mt-24">
                        <button type="submit" class="button button-primary">Send Reset Link</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>