@model RoleAuthApp.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-copy">
                <h1 class="hero-title mt-0">
                    @ViewData["Title"]
                </h1>

                <form asp-action="Login" method="post">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="boxed-container mt-24">
                        <div class="mt-8"><label asp-for="Email"></label></div>
                        <div class="mt-8">
                            <input class="input" asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>

                    <div class="boxed-container mt-24">
                        <div class="mt-8">
                            <label asp-for="Password"></label>
                        </div>
                        <div class="mt-8">
                            <input class="input" asp-for="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>

                    <div class="boxed-container mt-24">
                        <div class="mt-8">
                            <label asp-for="RememberMe"></label>
                            <input class="custom-checkbox" asp-for="RememberMe" />
                        </div>
                    </div>

                    <div class="hero-cta mt-24">
                        <button type="submit" class="button button-primary">Login</button>
                        <a class="button" asp-controller="Account" asp-action="Register">Register here</a>
                    </div>
                </form>

                @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
                }
            </div>
        </div>
    </div>
</section>

