@model RoleAuthApp.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-copy">
                <h1 class="hero-title mt-0">
                    @ViewData["Title"]
                </h1>

                <form asp-action="Register" method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="boxed-container mt-24">
                        <div class="mt-8">
                            <label asp-for="Email"></label>
                        </div>
                        <div class="mt-8">
                            <input asp-for="Email" class="input" />
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>

                    <div class="boxed-container mt-24">
                        <div class="mt-8">
                            <label asp-for="Password"></label>
                        </div>
                        <div class="mt-8">
                            <input asp-for="Password" class="input" />
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>

                    <div class="boxed-container mt-24">
                        <div class="mt-8">
                            <label asp-for="ConfirmPassword"></label>
                        </div>
                        <div class="mt-8">
                            <input asp-for="ConfirmPassword" class="input" />
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                    </div>

                    <div class="boxed-container mt-24">
                        <div class="mt-8">
                            <label asp-for="Role"></label>
                        </div>
                        <div class="mt-8">
                            <select asp-for="Role" class="input" asp-items="Model.Roles">
                                <option value="">-- Select Role --</option>
                            </select>
                            <span asp-validation-for="Role"></span>
                        </div>
                    </div>

                    <div class="hero-cta mt-24">
                        <button type="submit" class="button button-primary">Register</button>
                        <a class="button" asp-controller="Account" asp-action="Login">Login here</a>
                    </div>
                </form>

                @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
                }
            </div>
        </div>
    </div>
</section>