@{
    ViewData["Title"] = "User Dashboard";
}

<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-copy">
                <h1 class="hero-title mt-0">
                    @ViewData["Title"]
                </h1>
                <p class="hero-paragraph">Welcome, User! You can access your profile and activities here.</p>
            </div>
        </div>
    </div>
</section>